<ion-view title="Contact">
    <ion-nav-buttons side="left">
        <button type="button" class="button-clear uver-nav-button" ng-click="dashboard()">
            <i class="fa fa-home"></i>
        </button>
    </ion-nav-buttons>
  <ion-content class="addPayment">
     <div class="content">
         <p>
             CS Phone : +62-812-8325-7709
         </p>
         <p>
             Email : info@laundrytaxi.id
         </p>
         <br />
         <button type="button" ng-click="dashboard()" class="button uver-btn btn-cancel">Home</button>
    </div>
  </ion-content>
</ion-view>
