<ion-view hide-nav-bar="true" hide-back-button="true" title="LaundryTaxi">
  <ion-content class="login-content">
      <div class="content">
          <div class="row logo text-center">
              <img src="img/home-head.png?v=1" />
          </div>
          <div class="list button-form-group text-center">
              <button type="button" ng-click="getDeliver()" class="uver-btn btn-cancel">
                  Pesan Laundry
              </button>
              <div ng-if="(loggedIn === true)">
                  <button type="button" ng-click="dashboard()" class="button button-block button-clear color-uver uver-text-clear">
                      Dashboard
                  </button>
              </div>
          </div>
      </div>

      <div style="background-color: #333333; width: 100%;">
          <div class="content">
              <div class="row logo text-center">
                  <p style="color: white; text-align: center">
                      KAMI MENJEMPUT, MENCUCI & MENGIRIM
                      <span style="font-size: 18px;">
                              PAKAIAN ANDA DALAM 24 JAM
                          </span>
                  </p>
              </div>
              <div class="row logo text-center">
                  <div style="margin: 0 auto;">
                      <img src="img/t-shirt.png"/>
                  </div>
              </div>
          </div>
      </div>
      <div class="content">
          <div class="row logo text-center">
              <img src="img/body.png" alt="LaundryTaxi" />
          </div>
      </div>
      <div style="background-color: #fef3a8; width: 100%">
          <div class="content">
              <div class="row logo text-center">
                  <img src="img/1000.png" alt="LaundryTaxi" />
              </div>
          </div>
      </div>
      <div style="background-color: #fee85e; width: 100%">
          <div class="content">
              <div class="row logo text-center">
                  <img src="img/4000.png" alt="LaundryTaxi" />
              </div>
          </div>
      </div>
      <div style="background-color: #fddb00; width: 100%">
          <div class="content">
              <div class="row logo text-center">
                  <img src="img/6000.png?v=1" alt="LaundryTaxi" />
              </div>
          </div>
      </div>
      <div class="content">
          <div class="list button-form-group text-center">
              <button type="button" ng-click="getDeliver()" class="uver-btn btn-cancel">
                  Pesan Laundry
              </button>
              <div ng-if="(loggedIn === true)">
                  <button type="button" ng-click="dashboard()" class="button button-block button-clear color-uver uver-text-clear">
                      Dashboard
                  </button>
              </div>
          </div>
      </div>
      <div class="content">
          <div class="row logo text-center">
              <img src="img/footer.png" />
          </div>
      </div>
  </ion-content>
</ion-view>
