<ion-view cache-view="true" title="Lokasi Pickup">
  <ion-nav-buttons side="right">
    <button type="button" id="center-geolocation" class="button-clear uver-nav-button">
      <i class="fa fa-crosshairs"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button ng-if="loggedIn === true" type="button" class="button-clear uver-nav-button" ng-click="dashboard()">
      <i class="fa fa-home"></i>
    </button>
    <button ng-if="loggedIn === false" type="button" class="button-clear uver-nav-button" ng-click="home()">
      <i class="fa fa-home"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="pickupFrom">
  <ion-scroll>
    <div class="list pickup list-content">
      <label class="item item-input">
        <i class="pe-7s-search"></i>
        <input id="pac-search" class="uver-search-input" type="text" placeholder="Enter address" />
        <i class="pe-7s-map-marker"></i>
      </label>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-body" id="modal-body">
        <form name="formuser" ng-submit="addAddressNote(address_note)">
          <div class="list list-inset uver-form login-form">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Tambahkan Detail Alamat</span>
              <textarea class="field-textarea-default" name="address_note" ng-model="address_note" placeholder="Contoh: Blok 1A no 22, depan Alfamart" style="height: 100px">{{address_note}}</textarea>
            </label>
          </div>
          <br/>
          <div class="list list-inset uver-form login-form">
            <button class="button-clear color-uver uver-text-clear" type="submit"><i class="fa fa-check"></i> Simpan</button>
            <button class="button-clear color-uver uver-text-clear" type="button" ng-click="cancel()"><i class="fa fa-close"></i> Batal</button>
          </div>
        </form>
      </div>
    </script>
    <div data-tap-disabled="true" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCAJBuxY536nqagDeMq5zhwKp7eGXBMxZA&libraries=places">
      <map center="Green lake city, cipondoh, Jakarta barat" zoom="14" style="height: 600px">
      </map>
    </div>
    </ion-scroll>
  </ion-content>
  <div class="dot-container">
    <span class="dot-ico active"></span>
    <span class="dot-ico"></span>
    <span class="dot-ico"></span>
  </div>
</ion-view>
