<ion-view title="Home Dashboard">
    <ion-content class="login-content">
      <div class="content">
          <div class="row logo text-center">
              <img src="img/home-head.png" />
          </div>
          <div class="list inset">
              <button ng-click="getDeliver();" class="button button-block uver-btn btn-cancel">Pesan Laundry</button>
              <button ng-click="orderList();" class="button button-block uver-btn">History</button>
              <button ng-click="contact();" class="button button-block uver-btn">Support</button>
          </div>
      </div>
    </ion-content>
</ion-view>
